<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
  
    <title><%= title %></title>
</head>
<body class="myHorror">
<div class="Zamazon">Zamazon</div>    
<body class="myHorror">
<button class="menu-button" onclick="toggleMenu()">menu</button>
<div class="menu-content" id="menu">
    <div class="menu-item"><a href="/books" style="text-decoration: none;">Home</a></div>
    <div class="menu-item"><a href="/books/new" style="text-decoration: none;" <%- title === 'Add Book' ? 'class="active"' : '' %>>Publish Your Book</a></div>
    <div class="menu-item"><a href="/books/categories" style="text-decoration: none;">Categories</a></div>
</div>
</div>
<div class="ZZZzzz">
    <% books.forEach(function(b){ %>
    <tr>
        <div><%= b.name %></div>
        <div><img src="/images/books/<%= b.coverImage%>", alt="coverImage"></div>
        <div>Author: <%= user.name %></div>
        <tr>
        <div><%= b.year %></div>
        <div><%= b.genre %></div>
        </tr>
       <div>
         <%= b.genre === 'fantasy' ? '' : '' %>
         <%= b.genre === 'sci-fi' ? '' : '' %>
         <%= b.genre === 'horror' ? '' : '' %>
         <%= b.genre === 'action' ? '' : '' %>
         <%= b.genre === 'non-fiction' ? '' : '' %>
         <%= b.genre === 'fiction' ? '' : '' %>
       </div>
        <button><a href="/books/<%= b._id %>">View</a></button>
    </tr>
   <% }) %>
   <space></space>
</div>

<script>
    function toggleMenu(){
        var menu = document.getElementById('menu')
        if(menu.style.display === "block"){
            menu.style.display = "none"
        }else{
            menu.style.display = "block"
        }
    }
</script>
</body>