<%- include('../partials/header') %>

<div><a link href="/books/<%= book._id %>" class="Go">Go Back</a></div>
<div class="gogo">
<div id="2"><a><%= book.name %></a></div>
<div>Author:<%= book.userName %></div>
    <td><img src="/images/books/<%=book.coverImage%>"></td>
<div>Price:$<%= book.price %></div>
<div>ISBN:<%= book.ISBN %></div>
<div>Published:<%= book.year %></div>
<div>Genre:<%= book.genre.charAt(0).toUpperCase() + book.genre.slice(1) %></div>
<div>Description: <%= book.description %></div>

<form action="/books/<%= book._id %>/delete?_method=DELETE" method="POST">
  <div class="red">Are you sure you want to delete this?</div>
    <button type="submit" style="text-decoration: none;">Yes</button>
  </form>
<%- include('../partials/footer') %>